<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Mongol Cartoons</title>
    <script>
        function startTime() {
            var today=new Date();
            var h=today.getHours();
            var m=today.getMinutes();
            var s=today.getSeconds();
            h = checkTime(h);
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('time').innerHTML = today.toDateString() + " " + h+":"+m+":"+s;
            var t = setTimeout(function(){startTime()},500);
        }

        function checkTime(i) {
            if (i<10) {i = "0" + i};  // add zero in front of numbers < 10
            return i;
        }
</script>
</head>
<body bgcolor="#222222" text="white" link="red" alink="red" vlink="red" onload="startTime()">
<br><br>
<center><h1>It is now <span id="time"></span></h1>
    <br><br>
    <h1><a href='http://{{ base_url }}/kissanime/?url=http://kissanime.com'>{{ text }}</a></h1>
    <br>
    <h2>Changelog</h2>
    <p>2015/02/24<br> v0.2.1 - bug fixes & updates</p>
    <p>2015/01/15<br> v0.2 - no more disable adblock bullshit. pages now works too</p>
    <p>2015/01/14<br> v0.1 - initial launch</p>
</center>
</body>
</html>